#vetrinavbar {
  background-color: dark;
  justify-content: end;
}
#smedia {
  font-size: 30px;
}
li {
  margin-right: 40px;
  font-size: 20px;
}
#navcon {
  padding: 5px;
}
header {
  font-family: "Caveat", sans-serif;
}
